* {
    font-family: Arial;
}

body {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    background-color: rgb(175, 175, 175);
}
.container {
    height: 60vh;
    aspect-ratio:8/7;
    display: grid;
    grid-template: 40% 60% / repeat(2, 1fr);
    background-color: white;
    border-radius: .9em;
    overflow: hidden;
    border: 4px #e7e265 solid;
    align-self: center;
    
}

.logo {
    grid-area: 1 / 1 / 2 / 3;
    display: flex;
    justify-items: center;
    background-color: white;
    overflow: hidden;
    background-color:rgb(91, 48, 155, .6) ;
    object-fit: contain;
    width: 100%;
    justify-items: center;

}

.img {
    display: flex;
    justify-items: center;
    object-fit: contain;
    width: 100%;


}

.form {
    grid-area: 2 / 1 /3 /3;
  
    display: flex;
    flex-direction: column;
    
    background-color: white;
    align-self:center;
    width: 100%;
    margin-top: -10%;
   
}

label {
    font-size: large;
    padding-top: 1em;
    padding-bottom: 0px;
    padding-left: 5em;
    font-size: 1.25em;
    display: flex;
    align-self: start;


}

.labelu {
    justify-items: start;
}

input {
    font-size: 1.25em;
    border-radius: .5em;
    justify-content: center;
    width: 60%;
    align-self: center;
}

#pw {
    margin-bottom: 1.5em;
}

#login {
    width: 30%;
    justify-self: center;

}